body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 15vh;
  background-color: red;
}
.links {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.sidebar {
  background-color: green;
  width: 15vw;
}

.button {
  align-self: center;
}

.footer {
  height: 15vh;
  background-color: blue;
  transform: translateY(100%);
}
